input[type="text"] {
  width: 50%;
  padding: 1rem;
  font-size: 1.5rem;
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

button {
  padding: 1rem;
  font-size: 1.5rem;
}

.done {
  text-decoration: line-through;
}
